@model Student

<h3>Create Student</h3>

<form action="/Home/Create" method="post">
    <input type="number" name="Id" />
    <input type="text" name="Name" />
    <input type="submit" value="Create" />
</form>
